html {
	background-color: #fff;
}

body p {
	font-size: 1.05em;
}

footer.footer {
	background-color: #fff;
}

section.hero .level a.is-active {
	font-weight: bold;
}

section.hero .hero-foot {
	margin: auto;
}

section.about_program h2 {
	margin: 30px 0px 20px 0px;
}

section.e765 {
	min-height: 500px;
}

section.e765 h4 {
	margin-top: 20px;
}

/* --- E766 styles --- */

section.e766 .alignment table thead tr th {
	text-align: center;
}

section.e766 .alignment table thead tr th {
	vertical-align: middle;
}

section.e766 .alignment table tbody tr td:first-child {
	font-weight: bold;
}

section.e766 .assessment .assess_example .columns {
	margin-bottom: 30px;
}

section.e766 .assessment .assess_example .columns p.control {
	font-size: 15px;
}

/* --- E767 styles --- */

section.e767 .designdoc table tbody tr th {
	vertical-align: middle;
	width: 20%;
}

section.e767 .storyboard table tr:hover,
section.e767 .storyboard table td:hover {
	background-color: #fff;
}

section.e767 .usability table tr td {
	width: 50%;
}